body {
    background: silver;
    max-width: 90%;
    margin: auto;
}
ul {
    text-align: left;
}
form {
    max-width: 500px;
    margin: auto;
}
.menu li {
    display: inline-block;
    margin: 20px;
}

.menu li a {
    color: black;
}
